{%extends 'base.html'%} {% block head%} this is the length {%endblock%} {% block
body%}
<form method="post">
  <input type="number" name="value" placeholder="Enter value" required />

  <select name="from_unit">
    <option value="Meter">Meter</option>
    <option value="Kilometer">Kilometer</option>
    <option value="Mile">Mile</option>
  </select>

  <select name="to_unit">
    <option value="Meter">Meter</option>
    <option value="Kilometer">Kilometer</option>
    <option value="Mile">Mile</option>
  </select>

  <button type="submit">Convert</button>
</form>
{%endblock%}
