{%extends 'base.html'%} {% block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/length.css') }}"
/>

{%endblock%} {%block body%}
<form method="post">
  <input type="number" name="value" placeholder="Enter value" required />

  <select name="from_unit">
    <option value="celsius">Celsius</option>
    <option value="fahrenheit">Fahrenheit</option>
    <option value="kelvin">Kelvin</option>
  </select>

  <select name="to_unit">
    <option value="celsius">Celsius</option>
    <option value="fahrenheit">Fahrenheit</option>
    <option value="kelvin">Kelvin</option>
  </select>

  <button type="submit">Convert</button>
</form>

{%endblock%}
