{% extends 'base.html' %} {% block body %}

<h2>Weight Converter</h2>

<form method="post">
  <div class="mb-3">
    <input
      type="number"
      step="any"
      name="value"
      class="form-control"
      placeholder="Enter value"
      required
    />
  </div>

  <div class="mb-3">
    <select name="from_unit" class="form-select">
      <option value="Kilogram">Kilogram</option>
      <option value="Gram">Gram</option>
      <option value="Pound">Pound</option>
    </select>
  </div>

  <div class="mb-3">
    <select name="to_unit" class="form-select">
      <option value="Kilogram">Kilogram</option>
      <option value="Gram">Gram</option>
      <option value="Pound">Pound</option>
    </select>
  </div>

  <button class="btn btn-primary w-100">Convert</button>
</form>

{% if result is not none %}
<div class="result-box">Result: {{ result }}</div>
{% endif %} {% endblock %}
